    body { font-family: sans-serif; margin: 5px; }
    .nivel { margin-left: 20px; }
    label { display: block; margin-top: 0px; }
    input[type="checkbox"] { margin-right: 5px; }
    .highlight { background-color: rgba(0, 255, 13, 0.062); width: fit-content;}

    ul {background: #eee8aa36;
        margin-right: 5px;
        padding-left: 15px;
        width: 95%;
        min-height: 350px;
        border: 1px solid rgba(224, 224, 180, 0.377);
        border-radius: 12px;
        }

    pre {width: 580px;
        text-align: justify;
        text-wrap: stable;
      }

    input[type="number"] { width: 50px; margin-left: 10px; }
    textarea { width: 80%; }
    .box-categorias {
      background-color: #b5ffaa1a;
      border: 1px solid #adff2f33;
      border-radius: 12px;
      min-height: 350px;
      }
    .nodo { margin: 3px 0; }
.child-container {
  margin-left: 15px;
  }
.nodo {
  display: flex;
  align-items: center;
  }